 :root{
    --primary:  #557a95;
    --secondary: #b1a296;
    --textColor: rgb(229, 230, 235); 
    --imageOne:  url("https://placekitten.com/600/200")

}
* {margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
}   

header {
    position: sticky;
    top: 0;
        display: flex;
    flex: 2 0 auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../assets/images/paul-frenzel-MnHQMzC6n-o-unsplash.jpg");
    background-position: bottom;
    background-size:cover;
    padding-bottom: 2px;
    margin-bottom: 3px;

}

h2 {
    padding: 0 .5% 0 .5%;
}
header a {
    color: rgb(229, 230, 235);
    text-decoration: none;

}

.listBar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;
    font-size: larger;
    height: 50%;
    border: red solid 4px

}

header nav ul li {
    padding: 0 10px;
    
}

#about-me {
    border: red solid 4px;
}

.text-align-right {
    text-align: right;
}

.flex-row { 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin:  auto;
    border: yellow solid 5px;
    width:100%;
   
    
    
}
.flex-row p {
    width: 50%;
    margin-left: 2%;
    text-align: left;
}
.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}


.flex-left{
    justify-content: left;
}


.personal  h2{
    text-align: left;

}
.projects {
    
    display: flex;
    flex-wrap: wrap;
    margin:5px auto;
    border:  red solid 2px;
    justify-content: center;
}


.project {
    background-color: var(--bgColor);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: blue solid 5px;
    height: 300px;
    width: 50%;
    padding: 1%;
    
    
}
.prime{
    width: 100%;
    height: 30%;
    overflow:hidden;
    margin: 0;
}

.prime-image{
    width: 100%;
    object-fit: cover;
    display: block;
}


.project h4 {
    background-color: beige;
    z-index: 99999;
}

.secondary-image{
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

.contacts {
    display:flex;
    border: green solid 5px;
    background-color: #b1a296;
    justify-content: flex-start;

}

.contacts ul {
    margin-left: 5%;
    justify-content: space-between;
    width: 75%;
    border: purple solid 5px;
    align-content: center;

}

.contacts ul li {
    font-size: larger;
    text-decoration: none;
    color: var(--textColor);
}
.contacts a {
    text-decoration: none;
    color:var(--textColor)
}

@media screen and (max-width: 780px){
    .flex-row{
        flex-wrap: wrap;
        
    }

  
}