* {margin: 0;
    padding: 0;
    box-sizing: border-box;}
body{
    font-family: Arial, Helvetica, sans-serif;
}   

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-image: url("../assets/images/paul-frenzel-MnHQMzC6n-o-unsplash.jpg");
    background-position: bottom;
    background-size:cover;
    padding: 1%;
    margin-bottom: 3px;

}

header a {
    color: rgb(229, 230, 235);
    text-decoration: none;

}

header nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    flex-wrap: wrap;

}

header nav ul li {
    padding: 0 10px;
}